/* div {
  border: 1px solid red;
} */

:root {
  --transparent: 1;
  --highlight: rgba(255, 255, 255, 0);
}

.bottom-bar {
  width: 100%;
  min-height: 16px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  justify-content: space-between;
}

.mit-count-container,
.deal-button-container {
  min-width: 10ch;
}

.money-value {
  margin-left: 1ch;
}

.mit-count-container > .mit-count-value {
  min-width: 3ch;
  text-align: right;
  color: rgba(255, 255, 255, var(--transparent));
  transition: 0.3s ease-in-out;
  margin-left: 1ch;
  background-color: var(--highlight);
}

.mit-count-container:hover > .mit-count-value {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
}

.shuffle-container {
  display: flex;
}

.actions-container {
  box-sizing: border-box;
  align-self: center;
  justify-self: center;
  justify-content: center;
  position: absolute;
  margin: 0 auto;
  width: calc(100% - 20px);
  transition: 0.5 ease-in-out;
}

.action-button,
.deal-button {
  min-width: 11ch;
  box-sizing: border-box;
  padding: 6px 6px;
}

.action-button {
  margin: 0px 8px;
}

.deal-button-container {
  /* justify-content: flex-end; */
}

.action-split {
}
.action-double {
}
.action-hit {
}
.action-stand {
}
.action-surrender {
}
