.play-area {
  height: fit-content;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  margin: 8px;
  justify-content: space-between;
}

.dealer-container {
  width: 100%;
}

.dealer-cards-container {
  width: 100%;
  padding: 6px;
  border-radius: 8px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.dealer-cards-container > .card {
  margin: 0 0.75svh;
}

.player-cards-container {
  position: relative;
  height: var(--card-height);
  width: var(--card-width);
  margin: 0 auto;
}

.player-cards-container > .card {
  position: absolute;
  box-shadow: 1px 1px 4px black;
  border-radius: 3%;
}

.player-chip-area {
  box-sizing: content-box;
  min-height: calc(var(--card-width) / 3);
  min-width: calc(var(--card-width) / 3);
  border-radius: 100%;
  margin: calc(var(--card-width) / 15);
  padding: calc(var(--card-width) / 8);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
