:root {
  --card-width: min(150px, 15svh);
  --card-height: calc(var(--card-width) * (3.5 / 2.5));
}

.top {
  background-color: #0b280b;
  height: 100svh;
  justify-content: space-between;
  align-items: center;
  background-image: url('/public/noise-texture.png');
}

.show-cards {
  display: flex;
  flex-wrap: wrap;
}

.show-cards * {
  max-width: 280px;
}

.card-box {
  display: flex;
}
.card-box img {
  width: 50%;
}

.card-box p {
  text-align: left;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.card {
  width: var(--card-width);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
