/* div {
  border: 1px solid red;
} */

:root {
  --transparent: 1;
  --highlight: rgba(255, 255, 255, 0);
}

.bottom-bar {
  width: 100vw;
  height: clamp(4ch, 3vw, 3rem);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 0px;
  box-sizing: content-box;
  position: relative;
  justify-content: space-between;
}

.money-value {
  margin-left: 1ch;
}

.shuffle-container {
  display: flex;
}

.actions-container {
  align-self: center;
  justify-self: center;
  justify-content: center;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: clamp(4ch, 3vw, 3rem);
  transition: 0.5 ease-in-out;
}

.action-button,
.deal-button {
  font-size: clamp(10px, 2svw, 1rem);
  width: clamp(11ch, 16ch, calc(100svw / 6));
  min-width: 11ch;
  max-width: calc(100svw / 6);
  padding: 6px clamp(8px, 2svw, 1rem);
  border-radius: 2em;
  background-color: #e8e8e8;
  color: #000000;
  border: 1px solid white;
  text-transform: capitalize;
}

.action-button:disabled,
button[disabled] {
  opacity: 0.3;
}

.action-button {
  margin: 0px 6px;
}

.shuffle-container {
  z-index: 1;
}

.deal-actions {
  column-gap: 2ch;
}

.betting-bar-container {
  box-sizing: border-box;
  position: relative;
  justify-content: flex-end;
  margin: 0 1ch;
}
.betting-chip {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.8vw;
  width: clamp(1rem, 7vw, 3rem);
  height: clamp(1rem, 7vw, 3rem);
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.chip-svg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.chip-amount-text {
  font-size: 0.75rem;
  width: 100%;
  height: 100%;
  position: absolute;
  line-height: 0;
}

.action-split {
  color: #ffffff;
  background-image: linear-gradient(180deg, #0b3c7d, #051831);
  /* background-color: #0b3c7d; */
}
.action-double {
  color: #000000;
  background-image: linear-gradient(180deg, #fde906, #9a8d00);
  /* background-color: #fde906; */
}
.action-hit {
  color: #ffffff;
  background-image: linear-gradient(180deg, #14a91e, #0b5610);
  /* background-color: #14a91e; */
}
.action-stand {
  color: #ffffff;
  background-image: linear-gradient(180deg, #9a1616, #4d0b0b);
  /* background-color: #9a1616; */
}
.action-surrender {
  color: #000000;
  background-image: linear-gradient(180deg, #afafaf, #616161);
  /* background-color: #afafaf; */
}
